<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix"
       *ngFor="let recipe of recipes; let i = index">
      <div class="pull-left">
        <h3 class="list-group-item-heading">{{recipe.name}}</h3>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <span class="pull-right">
        <img src="{{recipe.imagePath}}" alt="image" class="img-responsive" style="max-width: 100px">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
